.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
    animation-delay: 1s;
    transform: translateX(-50%);
    z-index: 1050;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translate(-50%, -50%);
        visibility: hidden;
    }
}
